#ignore flatbuffer generated code
**/flatbuffer/includes

.idea
**/.idea
**/cmake-build-debug
**/cmake-build-release
*/cmake-build-debug
*/cmake-build-release
**/CMakeFiles

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

docs/build/
docs/doxygen/
docs/sphinx/
docs/CMakeCache.txt
docs/CMakeDoxyfile.in
docs/CMakeDoxygenDefaults.cmake
docs/Makefile
docs/cmake_install.cmake

nix/result
/nix/result/

/services/worldserver/cfg/maps/2D*